name: Check for Vulnerabilities
on:
  pull_request:
    types: [edited, opened, synchronize, reopened]
    branches:
      - main

jobs:
  vulnerability-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24.13.0"

      - name: Run Snyk Security Scanner
        uses: movingimage-evp/github-actions/security/setup@main
        with:
          github-packages-token: ${{ secrets.PACKAGES_MI_MAVEN_REPOSITORY_ACCESS_TOKEN }}
          snyk-token: ${{ secrets.SNYK_API_KEY }}
          code-severity-threshold: "medium"
          test-severity-threshold: "critical"
